/* General */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F0F4F8;
    color: #333;
}

/* Header */
header {
    background-color: #005B96; /* Un azul más profundo, simboliza profesionalismo y confianza */
    color: white;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #E0E7F1; /* Azul claro para un contraste sutil pero efectivo */
}
